<%- include("../parts/head") %>
<%- include("../parts/navbar") %>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h3>新增資料</h3>
            <form name="form1">
                <div class="mb-3">
                    <label for="" class="form-label">name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                    />
                    <div class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">email</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                    />
                    <div class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">mobile</label>
                    <input
                        type="text"
                        class="form-control"
                        name="mobile"
                    />
                    <div class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">birthday</label>
                    <input
                        type="date"
                        class="form-control"
                        name="birthday"
                    />
                    <div class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">address</label>
                    <input
                        type="text"
                        class="form-control"
                        name="address"
                    />
                    <div class="form-text"></div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include("../parts/scripts") %>
<script>
    const form1 = document.form1;
    form1.addEventListener("submit", (event) => {
        event.preventDefault();
        const fd = new FormData(form1);

        const dataObj = {};
        [...fd].forEach(item => dataObj[item[0]] = item[1]);

        // console.log(JSON.stringify(dataObj));
        // console.log(new URLSearchParams(fd).toString());

        // fetch("", {
        //     method: "POST",
        //     body: fd
        // })
        // .then(data => data.json())
        // .then(data => {
        //     console.log(data);
        // })
        fetch("", {
            method: "POST",
            body: new URLSearchParams(fd).toString(),
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            }
        })
        .then(data => data.json())
        .then(data => {
            console.log(data);
            if(data.error) {
                data.error.details.forEach(item => {
                    console.log(item.message);
                })
            } else {
                console.log(data);
            }
        })
        // fetch("", {
        //     method: "POST",
        //     body: JSON.stringify(dataObj),
        //     headers: {
        //         "Content-Type": "application/json"
        //     }
        // })
        // .then(data => data.json())
        // .then(data => {
        //     console.log(data);
        // })
    });
</script>
<%- include("../parts/foot") %>